<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Any Questions</h1>
    <hr>
    <h3>Question list</h3>

    <p>Name: <%= name %> </p>
    <p>Language: <%= lang %> </p>
    <p>Company Name: <%= companyName %> </p>
    <p>Total of Clients: <%= totalOfClients %> </p>

    <% if(showError) {%>
        <h3> OPS! </h3>
    <% } else { %>
        <h3> SUCCESS </h3>
    <% } %>    

    <% products.forEach( function(product) {%>
        <hr>
        <h3><%= product.name %></h3>
        <h4><%= product.price %></h4>
    <% }); %>        

</body>
</html>